<%- include('partials/header'); -%>

<div>
  <div class="container d-flex justify-content-center fs-2 fw-bold shadow bg-secondary">
    Last step
  </div>
  <div class="container  d-flex justify-content-center mt-3">
    <div class="rounded h-25 w-25 ">
        <img src="profile.jpg" alt="Profile image" class="img-fluid rounded-circle mx-auto d-block">
    </div>
</div>
<div class="container row mt-4 mx-auto d-flex justify-content-center">
    <div class="container d-flex justify-content-center">
      <p><%-user.fname %> <%-user.lname %></p>
    </div>
    <div class="container d-flex justify-content-center">
      <p><%-user.email %></p>
    </div>
    <form action="http://localhost:3000/resume" method="POST" enctype="multipart/form-data">
    <div class="mt-3 d-flex justify-content-center">
        <label class="btn btn-primary" for="fileInput">Upload Resume</label>
        <input type="file" name="resume" id="fileInput" style="display: none"  required />
    </div>
    <div class="container d-flex justify-content-center mt-4">
      <button class="btn btn-primary" type="submit" id="btn">Done</button>
    </div>
    </form>
</div>
  
</div>

<script>
  const form = document.querySelector('form');
  form.addEventListener('submit', async (e) => {
    // e.preventDefault();

    console.log(e);
    const resume = e.target?.files[0]
    try {
      const formData = new FormData();
      formData.append('resume', resume);

      const res = await fetch('/resume', {
        method: 'POST',
        body: formData,
      });

      if (res.ok) {
        console.log('Resume uploaded and inserted in the database');
        location.assign('/');
      } else {
        console.log('Error uploading the resume');
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>


<%- include('partials/footer'); -%>


